*{
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    /*background-color: rgb(1, 148, 99);*/
    color:#ffffff;
    width: 100%;
}

.head{
    background-color: rgb(1, 148, 99);
    color:#ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
}

.head img{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

h3{
    color: white;
    
}

.links{
    background-color: rgb(1, 148, 99);
    width: 100%;
    color: white;
}

ul{
    list-style: none;
    float: right;
    margin: 20px;
    padding-bottom: 50px;
}

ul li{
    display: inline-block;
}

ul li a{
    color: white;
    text-decoration: none;
    padding:  5px 20px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

.container1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

img{
    float: right;
    margin-top: 60px;
}

h2{
    position: absolute;
    top: 40%;
    left: 20%;
}

.medium-p{
    text-decoration: black;
    position: absolute;
    top: 55%;
    left: 20%;
}

.small-p{
    color: rgb(87, 85, 85);
    position: absolute;
    top: 65%;
    left: 20%;
}

/*i{
    color: rgb(1, 148, 99);
    margin: 5px;
    padding: 5px;
    position: absolute;
    left: 20%;
}*/

.home{
    color: rgb(1, 148, 99);
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 450px;
    left: 20%;
}

.phon{
    color: rgb(1, 148, 99);
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 470px;
    left: 20%;
}
.desk{
    color: rgb(1, 148, 99);
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 490px;
    left: 20%;
}

.button-part{
    position: absolute;
    top: 560px;
    left: 40%;
    transform: translate(-50%,-50%);
  
}

.design-p{
    border: 2px solid rgb(1, 148, 99);
    border-radius: 20px;
    padding: 10px;
    color: rgb(1, 148, 99);
    text-decoration: none;
    transition: 0.6s ease;
   
}

.design-p:hover{
    background-color: rgb(1, 148, 99);
    color: white;
}

.container2{
    background-color: rgb(7, 1, 48);
    height: 300px;
    width: 100%;
    position: absolute;
    top: 700px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container2 .head2{
    background-color: rgb(7, 1, 48);
    color: rgb(204, 203, 203);
    padding-top: 10px;
    padding-bottom: 0%;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    
}

.container2 .head2 p{
    padding-left: 200px;
}

.column1 ul{
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 74%
}

.column2 ul{
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 53%
}

.column3 ul{
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 33%
}

.column4 ul{
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12%
}


ul li{
    display: inline-block;
    padding: 5px;
}

/*.0column .p{
    color: rgb(204, 203, 203);
    padding: 10px;
}*/

footer{
    background-color: rgb(6, 1, 34);
    height: 50px;
    width: 100%;
    color: white;
    position: absolute;
    top: 1000px;
}

pre{
    text-align: center;
}